<div class="container">
    <h3 class="my-3">Interval & Timer Observable</h3>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    Interval : It takes one argument (number of milliseconds) code will execute the code again
                    and again after specific seconds mention
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    Times:- It task 2 argument 1st After how many seconds execution should get start
                    2nd argument same like interval code will executed on milliseconds
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Broadcast Videos using Interval </div>
                <ul id="elContainer" style="margin: 10px;">
                </ul>
            </div>
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Broadcast Videos using Timer </div>
                <ul id="elContainer2" style="margin: 10px;">
                </ul>
            </div>
        </div>
    </div>
</div>