<div class="container">
    <div class="row">
        <br><br>
        <h3 class="text-center my-4">
            Observables | Observer | Operator | Subscribtion to learn...    
        </h3>
        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">fromEvent() Event</h5>
                  <a class="btn btn-primary" routerLink="../fromevent">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">interval() & timer() Operator</h5>
                  <a class="btn btn-primary" routerLink="../intervaltimer">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">of() & from() Operator</h5>
                  <a class="btn btn-primary" routerLink="../of-from-obs">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">toArray() Operator</h5>
                  <a class="btn btn-primary" routerLink="../toarray">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Custom Observable</h5>
                  <a class="btn btn-primary" routerLink="../custom-obs">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Map Operator</h5>
                  <a class="btn btn-primary" routerLink="../map-obs">Open</a>
                </div>
            </div>
        </div>

        <div class="col-4 p-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Filter Operator</h5>
                  <a class="btn btn-primary" routerLink="../filter-obs">Open</a>
                </div>
            </div>
          </div>
    </div>
</div>

<router-outlet></router-outlet>