<div class="container">
    <h3 class="my-3">map() Operator</h3>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    map() :
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <b class="p-2">Ex : 01 (Using API, tap() & map() operator that trasform data and then passed to the component)</b>
            <hr>
            <h4>Posts</h4>
            <ul id="elContainer" >
                <li *ngFor="let post of posts">{{post.id}}. {{post.title}} <i><small>- by user  {{post.userId}}</small></i> </li>
            </ul>
        </div>
    </div>
</div>