<div class="container">
    <h3 class="my-3">of() & from() Observable</h3>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    of() : Convert arguments into observables sequence
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    from():- covert array, array like object, iterable like object, promise into 
                    observable sequence  
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <b class="p-2">Ex : 01 of()</b>
            <hr>
            <p class="bg-light p-2 border rounded">
                <span><b>Data : </b>of("Shreyas", "Shrikant", "Ambre")</span>
            </p>
            <hr>
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Sequence </div>
                <ul id="elContainer" style="margin: 10px;">
                </ul>
            </div>
        </div>

        <div class="col-6">
            <b class="p-2">Ex : 01 from()</b>
            <hr>
            <p class="bg-light p-2 border rounded">
                <span><b>Data : </b>from([10, 20, 30])</span>
            </p>
            <hr>
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Sequence </div>
                <ul id="elContainer2" style="margin: 10px;">
                </ul>
            </div>
        </div>
    </div>
</div>