<div class="container">
    <h3 class="my-3">toArray() Observable Operator</h3>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    toArray() : Convert stream into an array (It is apposite of from() operator)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <b class="p-2">Ex : 01 of()</b>
            <hr>
            <p class="bg-light p-2 border rounded">
                <span><b>Data : </b>toArray() using 
                   <p>interval() operator to mimic stream and then converting that into Array </p>
                    <p>take() operator is also use to accept only 3 values intervalues and then unsubsribe interval & pass that to toArray()</p>
                </span>
            </p>
            <hr>
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Sequence </div>
                <ul id="elContainer" style="margin: 10px;">
                    <li>[{{counts}}]</li>
                </ul>
            </div>
        </div>
    </div>
</div>