<div class="container-fluid">
    <div class="row justify-content-start" style="height: 91vh;">
        <div class="col-3 m-auto">
            <div class="card">
                <div class="card-header login-header">
                    Sign Up
                </div>
                <div class="card-body">
                    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                        <div class="form-group p-2">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                            formControlName="email">
                            <ng-container *ngIf="signUpForm.get('email')?.touched">
                                <small class="error-msg" *ngIf="signUpForm.get('email')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="error-msg" *ngIf="signUpForm.get('email')?.hasError('email')">
                                    Email is not valid.
                                </small>
                            </ng-container>
                        </div>

                        <div class="form-group p-2">
                            <label for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                            formControlName="password">
                            <ng-container *ngIf="signUpForm.get('password')?.touched">
                                <small class="error-msg" *ngIf="signUpForm.get('password')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="error-msg" *ngIf="signUpForm.get('password')?.hasError('minlength')">
                                    Need atleast 5 character.
                                </small>
                            </ng-container>
                        </div>

                        <div class="form-group p-2">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password"
                            formControlName="confirm_password">
                            <ng-container *ngIf="signUpForm.get('confirm_password')?.touched">
                                <small class="error-msg" *ngIf="signUpForm.get('confirm_password')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="d-block error-msg " *ngIf="signUpForm.get('confirm_password')?.hasError('minlength')">
                                    Need atleast 5 character.
                                </small>
                                <small class="d-block error-msg " *ngIf="signUpForm.errors?.['mismatch']">
                                    Passwords does not match.
                                </small>
                            </ng-container>
                        </div>

                        <div class="btn-wrapper">
                            <button type="submit" class="btn btn-primary m-2 submit-btn" [disabled]="signUpForm.invalid">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
