<div class="container">
    <h3 class="my-3">From Event Observable</h3>
    <ul>
        <li>The fromEvent function in RxJS is used to create an observable from a DOM event.</li>
        <li>Benefits of fromEvent is Angular's async pipe or takeUntil operator can help manage subscriptions</li>
    </ul>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Add Video </div>
                <button #addBtn class="btn customSubmitBtn m-2" type="button">Add</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header"> Video List </div>
                <ul id="elContainer" style="margin: 10px;">
                </ul>
            </div>
        </div>
    </div>
</div>